// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2021 Logic PD, Inc. DBA BeaconEmbeddedWorks
 */

/dts-v1/;

#include "imx8mn.dtsi"
#include "imx8mn-beacon-som.dtsi"
#include "imx8mn-beacon-baseboard.dtsi"

/ {
	model = "Beacon EmbeddedWorks i.MX8M Nano Development Kit";
	compatible = "beacon,imx8mn-beacon-kit", "fsl,imx8mn";

	chosen {
		stdout-path = &uart2;
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};

	reg_hdmi_dvdd: regulator-hdmi-dvdd {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hdmi>;
		compatible = "regulator-fixed";
		regulator-name = "hdmi_pwr_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <70000>;
	};

	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "hdmi-sound";
		simple-audio-card,format = "i2s";
		#sound-dai-cells = <0>;
		simple-audio-card,cpu {
			sound-dai = <&sai5 0>;
			system-clock-direction-out;
		};
		simple-audio-card,codec {
			sound-dai = <&adv_bridge 0>;
		};
	};
};

&gpu {
	status = "okay";
};

&i2c2 {
	adv_bridge: adv7535@3d {
		compatible = "adi,adv7535";
		reg = <0x3d>;
		adi,addr-cec = <0x3b>;
		adi,dsi-lanes = <4>;
		dvdd-supply = <&reg_hdmi_dvdd>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hdmi_bridge>;
		interrupt-parent = <&gpio1>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		#sound-dai-cells = <0>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7535_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};

			port@1 {
				reg = <1>;
				adv7535_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&lcdif {
        status = "okay";
};

&mipi_dsi {
	status = "okay";

	port@1 {
		reg = <1>;

		dsi_out: endpoint {
			remote-endpoint = <&adv7535_in>;
			attach-bridge;
		};
	};
};

&sai5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai5>;
	assigned-clocks = <&clk IMX8MN_CLK_SAI5>;
	assigned-clock-parents = <&clk IMX8MN_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&iomuxc {
	pinctrl_hdmi: hdmigrp {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_STROBE_GPIO2_IO11              0x16
		>;
	};

	pinctrl_sai5: sai5grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI5_RXD3_SAI5_TX_DATA0	0xd6
			MX8MN_IOMUXC_SAI5_RXD2_SAI5_TX_BCLK	0xd6
			MX8MN_IOMUXC_SAI5_RXD1_SAI5_TX_SYNC	0xd6
		>;
	};

	pinctrl_hdmi_bridge: synaptics_dsx_iogrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x19
		>;
	};
};
