// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

 /dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx93.dtsi"
 
&ele_fw2 {
	memory-region = <&ele_reserved>;
};

/ {
	model = "Cargt i.MX93 00359 SOM";
	compatible = "cargt,imx93-00359", "fsl,imx93";

	chosen {
		stdout-path = &lpuart1;
	};

	aliases {
		rtc0 = &rtc_i2c;
		rtc1 = &bbnsm_rtc;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0xb0000000 0 0x30000000>;
			size = <0 0xc000000>;
			linux,cma-default;
		};

		vdev0vring0: vdev0vring0@a4000000 {
			reg = <0 0xa4000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@a4008000 {
			reg = <0 0xa4008000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@a4000000 {
			reg = <0 0xa4010000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@a4018000 {
			reg = <0 0xa4018000 0 0x8000>;
			no-map;
		};

		rsc_table: rsc-table@2021e000 {
			reg = <0 0x2021e000 0 0x1000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@a4020000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4020000 0 0x100000>;
			no-map;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	reg_usdhc3_vmmc: regulator-usdhc3 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc3_vmmc>;
		regulator-name = "WLAN_EN";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 7 GPIO_ACTIVE_HIGH>;
		/*
		* IW612 wifi chip needs more delay than other wifi chips to complete
		* the host interface initialization after power up, otherwise the
		* internal state of IW612 may be unstable, resulting in the failure of
		* the SDIO3.0 switch voltage.
		*/
		startup-delay-us = <20000>;
		enable-active-high;
	};
};

&lpm {
	soc-supply = <&buck1>;
	status = "okay";
};

&lpi2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1>;
	status = "okay";

	/* eeprom on som */
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;		
	};

	/* rtc on som */
	rtc_i2c: rtc@51 {
		compatible = "microcrystal,rv3032";
		reg = <0x51>;
		trickle-resistor-ohms = <2000>;
		status = "okay";
	};

	pmic: pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <2237500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};


&lpuart1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart5 { /* bluetooth */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
			compatible = "nxp,88w8997-bt";
		};
};

&media_blk_ctrl {
	status = "okay";
};

&mu1 {
	status = "okay";
};

&mu2 {
	status = "okay";
};
 
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc3_sleep>;
	vmmc-supply = <&reg_usdhc3_vmmc>;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;
	wakeup-source;
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&wdog3 {
	status = "okay";
};

&gpio1{
	gpio-line-names =
	"gpio1-0","gpio1-1","gpio1-2","gpio1-3", 		// 0-3
	"gpio1-4","gpio1-5","gpio1-6","gpio1-7", 		// 4-7
	"gpio1-8","gpio1-9","gpio1-10","gpio1-11",	 	// 8-11
	"gpio1-12","gpio1-13","gpio1-14","gpio1-15", 	// 12-15
	"gpio1-16","gpio1-17","gpio1-18","gpio1-19", 	// 16-19
	"gpio1-20","gpio1-21","gpio1-22","gpio1-23", 	// 20-23
	"gpio1-24","gpio1-25","gpio1-26","gpio1-27", 	// 24-27
	"gpio1-28","gpio1-29","gpio1-30","gpio1-31"; 	// 28-31
};

&gpio2{
	gpio-line-names =
	"gpio2-0","gpio2-1","gpio2-2","gpio2-3", 		// 0-3
	"gpio2-4","gpio2-5","gpio2-6","gpio2-7", 		// 4-7
	"gpio2-8","gpio2-9","gpio2-10","gpio2-11",	 	// 8-11
	"gpio2-12","gpio2-13","gpio2-14","gpio2-15", 	// 12-15
	"gpio2-16","gpio2-17","gpio2-18","gpio2-19", 	// 16-19
	"gpio2-20","gpio2-21","gpio2-22","gpio2-23", 	// 20-23
	"gpio2-24","gpio2-25","gpio2-26","gpio2-27", 	// 24-27
	"gpio2-28","gpio2-29","gpio2-30","gpio2-31"; 	// 28-31
};

&gpio3{
	gpio-line-names =
	"gpio3-0","gpio3-1","gpio3-2","gpio3-3", 		// 0-3
	"gpio3-4","gpio3-5","gpio3-6","gpio3-7", 		// 4-7
	"gpio3-8","gpio3-9","gpio3-10","gpio3-11",	 	// 8-11
	"gpio3-12","gpio3-13","gpio3-14","gpio3-15", 	// 12-15
	"gpio3-16","gpio3-17","gpio3-18","gpio3-19", 	// 16-19
	"gpio3-20","gpio3-21","gpio3-22","gpio3-23", 	// 20-23
	"gpio3-24","gpio3-25","gpio3-26","gpio3-27", 	// 24-27
	"gpio3-28","gpio3-29","gpio3-30","gpio3-31"; 	// 28-31
};


&gpio4{
	gpio-line-names =
	"gpio4-0","gpio4-1","gpio4-2","gpio4-3", 		// 0-3
	"gpio4-4","gpio4-5","gpio4-6","gpio4-7", 		// 4-7
	"gpio4-8","gpio4-9","gpio4-10","gpio4-11",	 	// 8-11
	"gpio4-12","gpio4-13","gpio4-14","gpio4-15", 	// 12-15
	"gpio4-16","gpio4-17","gpio4-18","gpio4-19", 	// 16-19
	"gpio4-20","gpio4-21","gpio4-22","gpio4-23", 	// 20-23
	"gpio4-24","gpio4-25","gpio4-26","gpio4-27", 	// 24-27
	"gpio4-28","gpio4-29","gpio4-30","gpio4-31"; 	// 28-31
};

&iomuxc {
 
	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL			0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA			0x40000b9e
		>;
	};
 
	 pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		 fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK			0x159e
			MX93_PAD_SD1_CMD__USDHC1_CMD			0x139e
			MX93_PAD_SD1_DATA0__USDHC1_DATA0		0x13fe
			MX93_PAD_SD1_DATA1__USDHC1_DATA1		0x13fe
			MX93_PAD_SD1_DATA2__USDHC1_DATA2		0x13fe
			MX93_PAD_SD1_DATA3__USDHC1_DATA3		0x13fe
			MX93_PAD_SD1_DATA4__USDHC1_DATA4		0x13fe
			MX93_PAD_SD1_DATA5__USDHC1_DATA5		0x13fe
			MX93_PAD_SD1_DATA6__USDHC1_DATA6		0x13fe
			MX93_PAD_SD1_DATA7__USDHC1_DATA7		0x13fe
			MX93_PAD_SD1_STROBE__USDHC1_STROBE		0x15fe
		>;
	};
  
	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX93_PAD_SD3_CLK__USDHC3_CLK		0x1582
			MX93_PAD_SD3_CMD__USDHC3_CMD		0x40001382
			MX93_PAD_SD3_DATA0__USDHC3_DATA0	0x40001382
			MX93_PAD_SD3_DATA1__USDHC3_DATA1	0x40001382
			MX93_PAD_SD3_DATA2__USDHC3_DATA2	0x40001382
			MX93_PAD_SD3_DATA3__USDHC3_DATA3	0x40001382
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD3_CLK__USDHC3_CLK		0x158e
			MX93_PAD_SD3_CMD__USDHC3_CMD		0x4000138e
			MX93_PAD_SD3_DATA0__USDHC3_DATA0	0x4000138e
			MX93_PAD_SD3_DATA1__USDHC3_DATA1	0x4000138e
			MX93_PAD_SD3_DATA2__USDHC3_DATA2	0x4000138e
			MX93_PAD_SD3_DATA3__USDHC3_DATA3	0x4000138e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD3_CLK__USDHC3_CLK		0x159e
			MX93_PAD_SD3_CMD__USDHC3_CMD		0x4000139e
			MX93_PAD_SD3_DATA0__USDHC3_DATA0	0x400013fe
			MX93_PAD_SD3_DATA1__USDHC3_DATA1	0x400013fe
			MX93_PAD_SD3_DATA2__USDHC3_DATA2	0x400013fe
			MX93_PAD_SD3_DATA3__USDHC3_DATA3	0x400013fe
		>;
	};

	pinctrl_usdhc3_sleep: usdhc3grpsleep {
		fsl,pins = <
			MX93_PAD_SD3_CLK__GPIO3_IO20		0x31e
			MX93_PAD_SD3_CMD__GPIO3_IO21		0x31e
			MX93_PAD_SD3_DATA0__GPIO3_IO22		0x31e
			MX93_PAD_SD3_DATA1__GPIO3_IO23		0x31e
			MX93_PAD_SD3_DATA2__GPIO3_IO24		0x31e
			MX93_PAD_SD3_DATA3__GPIO3_IO25		0x31e
		>;
	};

	pinctrl_rtc: rtcgrp {
		 fsl,pins = <
		 	MX93_PAD_UART2_RXD__GPIO1_IO06			0x31e
		 >;
	 };

	pinctrl_reg_usdhc3_vmmc: regusdhc3vmmcgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO07__GPIO2_IO07			0x31e /* 2EL_PWRON */
		>;
	};
 
	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO01__LPUART5_RX			0x31e
			MX93_PAD_GPIO_IO00__LPUART5_TX			0x31e
			MX93_PAD_GPIO_IO02__LPUART5_CTS_B		0x31e
			MX93_PAD_GPIO_IO03__LPUART5_RTS_B       0x31e
		>;
	};
};

&epxp {
	status = "okay";
};
 