// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx93-beacon-som.dtsi"
 
 / {
	model = "Cargt i.MX93 00363 OSM-L SOM on 00365 carrier board";

	aliases {
		rtc0 = &rtc_i2c;
		rtc1 = &bbnsm_rtc;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usdhc2_reg>;		
		compatible = "regulator-fixed";
		regulator-name = "SDIO_A_PWR_EN";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
		enable-active-high;
	};
};
 
 
&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};
 
&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};
 
&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2>;
	status = "okay";

	pca9555_20: pca9555@20 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		gpio-line-names =
			"pca9555_20-0",	"pca9555_20-1",	"pca9555_20-2",	"pca9555_20-3", 	// 0-3
			"pca9555_20-4",	"pca9555_20-5",	"pca9555_20-6",	"pca9555_20-7",		// 4-7
			"pca9555_20-8",	"pca9555_20-9",	"pca9555_20-10","pca9555_20-11", 	// 8-11
			"pca9555_20-12","pca9555_20-13","pca9555_20-14","pca9555_20-15"; 	// 12-15
	};

	ptn5110_51: tcpc@51 {
		compatible = "nxp,ptn5110";
		reg = <0x51>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5110_51>;
		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;	
		status = "okay";

		port {
			typec1_dr_sw: endpoint {
				remote-endpoint = <&usb1_drd_sw>;
			};
		};

		connector {
			compatible = "usb-c-connector";
			label = "USB-C(A)";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
					PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};

	ptn5110_52: tcpc@52 {
		compatible = "nxp,ptn5110";
		reg = <0x52>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5110_52>;
		interrupt-parent = <&gpio2>;
		interrupts = <10 IRQ_TYPE_LEVEL_LOW>;	
		status = "okay";

		port {
			typec2_dr_sw: endpoint {
				remote-endpoint = <&usb2_drd_sw>;
			};
		};

		connector {
			compatible = "usb-c-connector";
			label = "USB-C(C)";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
					PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";
 };

&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	snps,reset-gpios = <&pca9555_20 0 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10 20 200000>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy1: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			eee-broken-1000t;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy2>;
	fsl,magic-packet;
	phy-reset-gpios = <&pca9555_20 1 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	phy-reset-post-delay = <150>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy2: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			eee-broken-1000t;
		};
	};
};
 
&usbotg1 {
	 dr_mode = "otg";
	 hnp-disable;
	 srp-disable;
	 adp-disable;
	 usb-role-switch;
	 disable-over-current;
	 samsung,picophy-pre-emp-curr-control = <3>;
	 samsung,picophy-dc-vol-level-adjust = <7>;
	 status = "okay";
 
	 port {
		 usb1_drd_sw: endpoint {
			 remote-endpoint = <&typec1_dr_sw>;
		 };
	 };
};

&usbotg2 {
	 dr_mode = "otg";
	 hnp-disable;
	 srp-disable;
	 adp-disable;
	 usb-role-switch;
	 disable-over-current;
	 samsung,picophy-pre-emp-curr-control = <3>;
	 samsung,picophy-dc-vol-level-adjust = <7>;
	 status = "okay";
 
	 port {
		 usb2_drd_sw: endpoint {
			 remote-endpoint = <&typec2_dr_sw>;
		 };
	 };
};
 
&usdhc2 {
	 pinctrl-names = "default", "state_100mhz", "state_200mhz";
	 pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	 pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	 pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	 vmmc-supply = <&reg_usdhc2_vmmc>;
	 cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	 bus-width = <4>;
	 status = "okay";
	 no-sdio;
	 no-mmc;
};

&adc1 {
	status = "okay";
};

&lcdif {
	status = "disabled";
};

&ldb {
	status = "disabled";
};

&dphy {
	status = "disabled";
};

&dsi {
	status = "disabled";
};

&lpuart2 { /* Mikrobus UART */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&lpuart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&iomuxc {
	
	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC						0x50e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO						0x50e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0					0x51e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1					0x51e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2					0x51e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3					0x51e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x51e
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL			0x51e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0					0x51e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1					0x51e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2					0x51e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3					0x51e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x51e
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL			0x51e
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC				0x50e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO				0x50e
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0			0x51e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1			0x51e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2			0x51e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3			0x51e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC			0x51e
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL	0x51e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0			0x51e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1			0x51e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2			0x51e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3			0x51e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC			0x51e
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL	0x51e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SDA__LPI2C2_SDA			0x40000b9e
			MX93_PAD_I2C2_SCL__LPI2C2_SCL			0x40000b9e
		>;
	};
 
	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			MX93_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	}; 

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX93_PAD_PDM_CLK__CAN1_TX				0x139e
			MX93_PAD_PDM_BIT_STREAM0__CAN1_RX		0x139e
		>;
	};
 
	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO25__CAN2_TX			0x139e
			MX93_PAD_GPIO_IO27__CAN2_RX			0x139e
		>;
	};
 
	pinctrl_usdhc2_reg: usdhc2reggrp {
		fsl,pins = <
			MX93_PAD_SD2_RESET_B__GPIO3_IO07	0x31e /* SDIO_A_PWR_EN */
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e
		>;
	};
 
	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			 MX93_PAD_SD2_CLK__USDHC2_CLK		0x15fe
			 MX93_PAD_SD2_CMD__USDHC2_CMD		0x400013fe
			 MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x400013fe
			 MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x400013fe
			 MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x400013fe
			 MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x400013fe
			 MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	 };

 
	pinctrl_sai1: sai1grp {
		fsl,pins = <
			 MX93_PAD_SAI1_TXC__SAI1_TX_BCLK		0x31e
			 MX93_PAD_SAI1_TXFS__SAI1_TX_SYNC		0x31e
			 MX93_PAD_SAI1_TXD0__SAI1_TX_DATA00		0x31e
			 MX93_PAD_SAI1_RXD0__SAI1_MCLK			0x31e
		>;
	 };
	 
	pinctrl_ptn5110_51: ptn5110_51grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO09__GPIO2_IO09			0x31e
		>;
	};

	pinctrl_ptn5110_52: ptn5110_52grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO10__GPIO2_IO10			0x31e
		>;
	};
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO04__LPUART6_TX			0x31e
			MX93_PAD_GPIO_IO05__LPUART6_RX			0x31e
		>;
	};
		
	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX93_PAD_UART2_RXD__LPUART2_RX			0x31e
			MX93_PAD_UART2_TXD__LPUART2_TX			0x31e
		>;
	};
};
 